* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #292929;
  color: white;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  color: orangered;
  font-size: 20px;
  font-weight: 600;
}

.wrapper .logo .logo_text {
  margin-left: 5px;
}

.wrapper .change-password-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.wrapper .change-password-box .credentials_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.wrapper .change-password-box .credentials_box .credentials_heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 4px;
  font-size: 14px;
}

.wrapper .change-password-box .credentials_box .credentials_input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: transparent;
}

.wrapper .change-password-box .credentials_box .credentials_input_box .credentials_input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
}

.wrapper .change-password-box .credentials_box .credentials_input_box .credentials_input:focus {
  outline: none;
}

.wrapper .change-password-box .credentials_box .credentials_input_box .credentials_input_icone {
  margin-right: 7px;
}

.wrapper .change-password-box .credentials_box .credentials_input_box .show_or_hidden_eye_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
}

.wrapper .change-password-box .credentials_box .credentials_input_box .hide_password_eye_btn {
  display: none;
}

.wrapper .change-password-box .error {
  display: none;
  margin-top: 10px;
  color: #ca2a2a;
}

.wrapper .take-action-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.wrapper .take-action-box .take-action-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.wrapper .take-action-box .take-action-btn:hover {
  background: #fd5f04;
}

.wrapper .take-action-box .cancel-button {
  background-color: #626262;
}

.wrapper .take-action-box .cancel-button:hover {
  background-color: #dd3636;
}

.wrapper .take-action-box .request-change-password-link {
  padding: 3px 3px;
  border-bottom: 1px solid white;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.wrapper .take-action-box .request-change-password-link:hover {
  background-color: orangered;
}

.success-message {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success-message .success-img {
  width: 60px;
  height: 60px;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: #1c9e1c;
}

.success-message .h2-success {
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 4px;
  font-size: 30px;
}

.success-message .redirect-login-page-btn {
  margin-top: 30px;
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1c9e1c;
  color: white;
}

.success-message .redirect-login-page-btn:hover {
  background-color: #14c714;
}

@media (min-width: 600px) {
  .wrapper {
    width: 600px;
    padding: 40px 40px;
    border: 1px solid #313131;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #1f1f1f;
            box-shadow: 0 0 10px #1f1f1f;
  }
}

@media (min-width: 600px) {
  .success-message {
    width: 500px;
    height: 500px;
    border: 1px solid #0ac226;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=RequestToChangePasswordForm.css.map */