<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{../AppPanelPage/css/style.css}" type="text/css">
</head>
<body>

<h1>rtCommunicator App Panel</h1>

<a href="http://localhost:8080/logout">logout now</a>


<button style="background-color:aqua;" class="logout-now-btn">logout now !</button>


 <script th:src="@{../AppPanelPage/js/AppPanel.js}"></script>
    
</body>