<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>

<h1>Enter new passwords for your account</h1>
<p class="result-response">..</p>
<input class="new-password-input" type="text" placeholder="enter new password"/>
<button class="send-change-password-request-btn" type=default>Accept</button>



<script type="text/javascript" th:src="@{/ForgotPassword/js/EnterNewPasswordForm.js}"></script>
    
</body>
</html>